<app-user-form (userAddedEvent) = "addUser($event)"></app-user-form>
<div>
  <h3>Users list:</h3>
  <ul class="list-group users">
    <app-spinner [visible] = "isLoading"></app-spinner>
    <li class="list-group-item" *ngFor = "let user of users" 
    [class.active]="currentUser == user"
    (click)="select(user)"
    class = "list-group-item" >
    <app-user [user] = "user"
    (deleteEvent) = "deleteUser($event)"
    (editEvent)="updateUser($event)"></app-user>
    <ul>
      <li *ngFor = "let title of user.posTitles">
        {{(title | async)?.title}}
      </li>
    </ul>          
    </li>
  </ul>
</div>