<span *ngIf = "!isEdit">
    Title: {{post.title}}<br>
    Content: {{post.body}}<br></span>

<span *ngIf = "isEdit">
    Title: <input type = "text" [(ngModel)] = "post.title"> 
    Content:<input type = "text" [(ngModel)] = "post.body">
    </span>
<button *ngIf = "!isEdit" (click) = "sendDelete()">Delete</button>
<button (click) = "toggleEdit()">{{editButtonText}}</button>
<button *ngIf = "isEdit" (click) = "sendEdit()">Cancel</button>