<app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
<div>
  <h3>Posts list:</h3>
  <ul class="list-group posts">
    <app-spinner [visible] = "isLoading"> </app-spinner>
    <li class="list-group-item" *ngFor = "let post of posts" 
    [class.active]="currentPost == post"
        (click)="select(post)" >
        <app-post [post] = post
        (deleteEvent) = "deletePost($event)"
        (editEvent)="updatePost($event)"></app-post>
        <ul>
          <li *ngFor = "let name of post.postUsers">
          {{(name | async)?.name}}
          </li>
       </ul>            
       </li>
   </ul>
 </div>